    <%= link_to("<<back to search" , root_path) %>
	<%= link_to("Add New dish", {:action => 'new'}) %>
	
	<h1><u>The dish you ordered, sir? </u></h1>
		<br />
		
	<%= render(partial: 'dishes_list', locals: {dishes: @results}) %>