/* style sheet only for naked user searches */
*= require_self

 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*end of css reset====================================================*/
/*styling starts here*/


/*fonts-added----------------------------------------------------------------------------*/

/* relative url needs editing as files will move.*/

@font-face{ 
	font-family: 'morganhand';
	src: url('fonts/HenryMorganHand.ttf') format('truetype');
}

@font-face{ 
	font-family: 'blackjack';
	src: url('fonts/black_jack.ttf') format('truetype');
}

/*color set----------------------------------------------------------------------------------

pink === hsl(10,50%,88%) 
light-green ==== hsl(160,70%,60%);

------------------------------------------------------------------------------------------------
*/

/*starting to style */
/* style order : 
body styles (selector , class , id)
section styles
inner styles
*/

body {
	text-align : left;
	background-color: hsl(10,50%,88%);
	font-size: 1.5em;
	font-family:blackjack; 
}	

h1 { 
	text-align : center;
	font-size: 2em; 
	font-family:blackjack; 
	margin:5px;
}

h2 { font-size: 180%; text-align:left; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

table {
		width: 100%;
		height: 200px;
}

th{
	
	text-decoration:underline;
}
td{
	
	white-space: pre-line;
}
img{
	border: solid gray 1px;
}

p{
	text-align:left;
}

hr{
	clear:both;
	
}

footer { 
		
		clear:both;
		position:static;
		margin-top:40px;
		margin-right:40px;
}

aside{
	float:right;
	width:100px;
}
/*classes----------------------------------------------------------------------*/

.user a{
	 color:black;	
	 text-decoration:none;
}


