feastId = <%=params[:id]%>;
$("#feast"+feastId).before("<p> competition manager is noted of your response</p><br />");
$("#feast"+feastId).before("<p>you can update your invitation response by visiting the messeges folder</p><br />");
$("#feast"+feastId).remove();

